
h2 {

    font-weight: 900; 
    font-size: 89px;
    line-height: 79px;
    color: #FFB300;
    text-align: center;
}

section{ 
    font-size: 21px ;
    font-weight: 600;
    line-height: 1.61;
    color: black;
}


hr{             
    margin-bottom: 34px;   
 }

h3{
    
    font-size: 34px;
    line-height: 79px;
    color: #FFB300;
    Font-Weight: Bold
    
}


div>ul{
    font-size: 21px;
    font-weight: 600;
    Line-height: 21px * 1.61;
      }
      
      section>ol{
        font-size: 21px;
        font-weight: 600;
        Line-height: 21px * 1.61;
      }

img { 

    width: 883px;
    height: 374px;
    display: block;         
    margin-left: auto; 
    margin-right: auto;
}

h5 {
    font-size: 21px;
    color: black;
    text-align: right; 
    font-weight: bold;
  
}
div>img {
    width 600px;
    height: 374px;
    border: none;
}

h4{

    font-size: 16px;
}
h1:hover{
color:#FFB300; 
}


h1         {
    font-weight: 900; 
    font-size: 80px;
    color: black;
    text-align: center;
    { 
        
  
        


    